# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually contains the executable and temp files
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
ENV/
env/
.venv/
.virtualenv/
env.bak/
venv.bak/

# Pyre type checker
.pyre/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Cython debug symbols
cython_debug/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code and JetBrains IDEs
.vscode/
.idea/

# macOS and Linux file metadata
.DS_Store
*.swp

# Logs and local files
*.log
*.sqlite3

# dotenv environment variables
.env
.env.*

# AWS SAM build artifacts
.aws-sam/

